[user]
	email = kaadenruman@hotmail.com
	name = Kaaden RumanCam
[core]
	editor = vim
[push]
	autoSetupRemote = true
[alias]
    conflict = "!f() { git merge $1 --no-ff --no-commit; git diff; git merge --abort; }; f"
    try-rebase = "!f() { git checkout -b test; git rebase main; git diff; git rebase --abort; git switch -; git branch -D test; }; f"
    diff-remote = "!f() { git diff $1...$1@{upstream}; }; f"
